
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input type="button" id="BtnClickBiometriaCall" value="Click-Me" />


<div class="panel panel-default">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">
        <div id="ColorAzul">
            Div cor Azul
        </div>
    </div>
</div>



<div class="card">
    <div id="ColorAmarelo" class="card-body">
        Div cor Amarelo
    </div>
</div>

<div class="card">
    <div id="ColorVermelho" class="card-body">
        Div cor Vermelho
    </div>
</div>

<div class="card">
    <div id="ColorVerde" class="card-body">
        Div cor Verde
    </div>
</div>


@section script_add
{

    

    <script src="~/Scripts/EnviarChamada.js"></script>


}
